<%- include('./partials/header.ejs') %>
    <main>
        <%if(error) {%>
            <h1>ERROR: <%=error.status%></h1>
            <h3><%=error.message%></h3>
            <%console.log("ERROR");%>
        <% }%>
    </main>


<%- include('./partials/footer.ejs') %>