<%- include('./partials/header.ejs') %>
    <main>
        <br><h1>Welcome to the Charlotte Gaming Meetups site.</h1>
        <p>Attend and create gaming events to connect with other gamers.</p>
        <p>Check out the Meetups section to browse available meetups!</p>
    </main>

    <div class='pictures'>
        <img src="Images/gaming.webp" alt="Couple playing video games together">
    </div>
    <br><br>
    <%- include('./partials/footer.ejs') %>