
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  background-color: #0f3f31;
  color: white;
  padding: 5px 0;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.icon img {
  display: block;
  max-height: 80px;
  padding-left: 40px;
}
nav {
  margin: 0;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
nav a:hover {
  background-color: #696767;
}
.inactive {
  color: rgb(48, 48, 48);
}
.second {
  background-color: #A49665;
  color: black;
  padding: 10px 0;
  text-align: left;
  display: flex;
  justify-content: flex-start; 
  padding-left: 20px; 
}
.second a {
  color: black;
  margin: 0 10px;
}
main {
  padding: 20px;
}
footer {
  background-color: #0f3f31;
  color: white;
  padding: 10px 0;
  font-size: 14px;
}

.input-field {
  width: 800px;
  height: 20px;
}

.submit-button{
  background-color: green;
  color: white;
  border: none; 
  cursor: pointer;
}
