
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  color: white;
  padding: 5px 0;
}
header .container {
  width: 100%;
  height: 100px;
  background-color: #0f3f31;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
footer {
  color: white;
  padding: 5px 0;
}
footer .container {
  width: 100%;
  height: 50px;
  background-color: #0f3f31;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.icon img {
  display: block;
  max-height: 80px;
  padding-left: 40px;
}
nav {
  margin: 0;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
nav a:hover {
  background-color: #696767;
}
.inactive {
  color: rgb(48, 48, 48);
}
.second {
  background-color: #A49665;
  color: black;
  position: fixed;
  width: 100%;
  height: 20px;
  padding: 10px 0;
  top: 100px;
  text-align: left;
  display: flex;
  justify-content: flex-start; 
  padding-left: 20px; 
}
.second a {
  color: black;
  margin: 0 10px;
}
main {
  padding: 100px;
}

.social-icons img{
  position: right;
  bottom: 10px;
  right: 10px;
  max-height: 30px;
  padding: 5px;
}

.input-field {
  width: 800px;
  height: 20px;
  
}

.submit-button{
  background-color: green;
  color: white;
  border: none; 
  cursor: pointer;
  position: relative;
  left: 30%;
  
 /* position: absolute; */
 /*
  left: 42%;
  top: 90%;
  */
}

.wrap-text {
  width: 500px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.images-left {
  position: absolute;
  left: 25%;
  top: 30%;
}
.images-meetups-left {
  position: absolute;
  scale: 75%;
  left: 15%;
  top: 30%;
}
.images-meetups-right {
  position: absolute;
  scale: 80%;
  right: 13%;
  top: 35%;
}
.display-meetups {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  margin: 0 auto;
}
.meetup-info {
  display: grid;
  grid-template-columns: 120px 1fr; 
  row-gap: 20px;
  column-gap: 25px;
  margin-top: 5px;
}
.info-labels p {
  text-align: right; 
  font-weight: bold;
  margin: 0; 
}
.info-answers p {
  margin: 0;
  text-align: left;
}



.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
}
.form-info{
  display: grid;
  grid-template-columns: 100px 1fr; 
  row-gap: 20px;
  column-gap: 25px;
  margin-top: 5px;
}
.form-labels label{
  text-align: right; 
  font-weight: bold;
  margin: 0; 
  padding-bottom: 5px;
}

.form-answers {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

#file_extension {
  width: 100%; 
  height: 30px; 
  padding: 4px;
  font-size: 12px;
  border: 1px solid #5e5d5d;
  border-radius: 4px;
  box-sizing: border-box;
}


  

