<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link href="/css/style.css" rel="stylesheet">
    <meta name="author" content="Jacob Miller and Stephanie Karp">
    <title>Charlotte Gaming Meetups</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="Images/CharlotteGamesLogoWithText.png">
    <link rel="facebookIcon" type="image/x-icon" href="Images/Facebook_Logo_white.png">
    <link rel="instagramIcon" type="image/x-icon" href="Images/Instagram_Glyph_White.png">
    <link rel="xIcon" type="image/x-icon" href="Images/x-logo-white.png">
</head>

<header>
    <div class="container">
        <div class="icon">
            <img src="/images/CharlotteGamesLogoWithText.png" alt="Video Game Icon">
        </div>
        <nav>
            <a href="newConnection.html">Plan a new meetup</a>
            <a href='/events/new'>Plan a new meetup</a>
            <a href="login.html">Log In</a>
            <a href="signup.html">Sign Up</a>
        </nav>
    </div>
  </header>

  <header>
    <nav class="second">
    <!--
        <a href="index.html">Home</a>
        <a href="meetups.html">Meetups</a>
        <a href="about.html">About</a>
    -->

        <a href='/'>Home</a>
        <a href='/events'>Meetups</a>
        <a href='/events/new'>Create a New Meetup</a>
        <a href="about.html">About</a>
        
    </nav>
  </header>