<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <meta name="author" content="Jacob Miller and Stephanie Karp">
    <title>Charlotte Gaming Meetups</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/CharlotteGamesLogoWithText.png">
    <link rel="facebookIcon" type="image/x-icon" href="/images/Facebook_Logo_white.png">
    <link rel="instagramIcon" type="image/x-icon" href="/images/Instagram_Glyph_White.png">
    <link rel="xIcon" type="image/x-icon" href="Images/x-logo-white.png">
</head>

<header>
    <div class="container">
        <div class="icon">
            <a href="/">
                <img src="/images/CharlotteGamesLogoWithText.png" alt="Video Game Icon">
            </a>
        </div>
        <nav>
            <a href='/events/new'>New Meetup</a>
            <a href="/users/login">Log In</a>
            <a href="/users/new">Sign Up</a>
            <a href='/users/profile'>Profile</a>
            <a href='/users/logout'>Logout</a>
        </nav>
    </div>
  </header>

  <header>
    <nav class="second">
        <a href='/events'>Meetups</a>
    </nav>
  </header>

<%if(errorMessages.length > 0) {
    errorMessages.forEach(message=> {%>
        <div class="error"><%= message%></div>
    <%});
}%>

<%if(successMessages.length > 0) {
    successMessages.forEach(message=> {%>
        <div class="success"> <%= message%></div>
    <%});
}%>