<header>
    <div class="container">
        <div class="icon">
            <img src="Images/CharlotteGamesLogoWithText.png" alt="Video Game Icon">
        </div>
        <nav>
            <a href="newConnection.html">Plan a new meetup</a>
            <a href="login.html">Log In</a>
            <a href="signup.html">Sign Up</a>
        </nav>
    </div>
  </header>

  <header>
    <nav class="second">
        <a href="index.html">Home</a>
        <a href="meetups.html">Meetups</a>
        <a href="about.html">About</a>
    </nav>
  </header>