<%- include('../partials/header.ejs') %>

    <main>
        <div class = "content">
            <% if(events.length) { %>
                <h1>Select to view a meetup</h1>
                <%events.forEach(event=>{ %>
                    <a href = "/events/<%= event.id%>"> <p><%= event.name %></p></a>
                <%});
            } else { %>
                <p>No events found!</p>
                <%console.log("NO EVENTS")%>
            <%}%>
        </div>
    </main>

<%- include('../partials/footer.ejs')%>