<%- include('../partials/header.ejs') %>
    <main>
        <h1>Create a Gaming Meetup <br> </h1>
            
        <form action= '/events' enctype="multipart/form-data" method='POST' class="form">
            <div class="form-info">
                <div class="form-labels">
                    <label for="name" ><b>Name:</b></label> <br><br>
                    <label for="game" ><b>Game:</b></label> <br><br>
                    <label for="category" ><b>Category:</b></label> <br><br>
                    <label for="platform"><b>Platform:</b></label><br><br>
                    <label for="host"><b>Host:</b></label><br><br>
                    <label for="details"><b>Details:</b></label><br><br>
                    <label for="location"><b>Location:</b></label><br><br>
                    <label for="date"><b>Date:</b></label><br><br>
                    <label for="startTime"><b>Start Time:</b></label><br><br>
                    <label for="endTime"><b>End Time:</b></label><br><br>
                    <label for="file_extension"><b>Add Flyer:</b></label><br><br>
                </div>

                <div class="form-answers">
                    <input type="text" id="name" name="name" placeholder="Enter the name of your event" class="input-field" required> 
                    <input type="text" id="game" name="game" placeholder="Enter the game(s) that will be played" class="input-field" required>
                    <select id="category" name="category" class="select.input-field" required> 
                        <option value="" disabled selected>Select a category</option>
                        <option value= tournament>Tournament</option>
                        <option value= free-play>Free Play</option>
                    </select>       
                    <select id="platform" name="platform" class="select.input-field" required> 
                        <option value="" disabled selected>Select a platform</option>
                        <option value= nintendo-switch>Nintendo Switch</option>
                        <option value= "xbox">Xbox</option>
                        <option value="playstation">PlayStation</option>
                        <option value="mobile">Mobile</option>
                        <option value="pc">PC</option>
                        <option value="other">Other</option>
                    </select>  
                    <input type="text" id="host" name="host" placeholder="Enter the host of your event" class="input-field" required> 
                    <input type="text" id="details" name="details" placeholder="Enter the details of your event"  class="input-field" required>   
                    <input type="text" id="location" name="location" placeholder="Enter the location of your event"  class="input-field" required>  
                    <input type="date" id="date" name="date" class="input-field" required>
                    <input type="time" id="startTime" name="startTime"  class="input-field" required> 
                    <input type="time" id="endTime" name="endTime" class="input-field" required>
                    <input id="file_extension" name="file_extension" type="file" accept="file_extension/*">
                    <input type="submit" value="submit"> <br><br>
                </div>
            </div>
        </form> 
    </main>
<%- include('../partials/footer.ejs')%>
