<%- include('../partials/header.ejs')%>
    <form action = "/login" method = "POST" class="user-form">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        
        <button>Login</button>  
    </form>

    </div>
    <%- include('../partials/footer.ejs')%>