<%- include('../partials/header.ejs')%>

    <form action = "/users/login" method = "POST" class="user-form">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        
        <input type="submit" value="Login">   
    </form>

    </div>
</main>
    <%- include('../partials/footer.ejs')%>