<%- include('../partials/header.ejs') %>
    <main>
        <br><h1>Create an Account</h1> 
        <p>Already have an account? Click on the login button instead!</p>
        <br><br>
        <div class="container">
            <label for="username"><b>New Username</b></label>
            <input type="text" id="username" placeholder="Create a Username" name="username" required>
            <br><br>
            <label for="password"><b>New Password</b></label>
            <input type="password" id="password" placeholder="Create a Password" name="password" required>
            <br><br>
            <label for="new-password"><b>New Password</b></label>
            <input type="password" id="new-password" placeholder="Retype Password" name="new-password" required>
            <br><br>
            <button type="submit">Sign Up</button>
            <br><br>
          </div>
    </main>
    <%- include('../partials/footer.ejs')%>